[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
flask = "*"
flask-sqlalchemy = "*"
backoff = "*"
pydantic = "*"
flask-restx = "*"
sqlmodel = "*"

[dev-packages]
autopep8 = "*"
sqlalchemy-stubs = "*"

[requires]
python_version = "3.10"
