[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
backoff = "*"
pydantic = "*"
sqlmodel = "*"
fastapi = "*"
python-dotenv = "*"
uvicorn = "*"
python-jose = "*"
passlib = "*"
python-multipart = "*"
alembic = "*"
pydantic-to-typescript = "*"
fastapi-jwt-auth = "*"
sqlalchemy = "*"
tiktoken = "*"
sendgrid = "*"

[dev-packages]
autopep8 = "*"
sqlalchemy-stubs = "*"

[requires]
python_version = "3.10"
