/* * { */
/*   box-sizing: border-box; */
/*   margin: 0; */
/*   padding: 0; */
/* } */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Karla:wght@400;500&family=Nunito:ital@0;1&family=Rubik:ital@0;1&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  font-family: Inter, sans-serif;
  /* background-color: #282a36; */
  /* color: #f8f8f2; */
}

/* .box { */
/*   padding: 20px; */
/*   background-color: var(--color-bg-alt); */
/* } */

/* .container { */
/*   padding: 20px; */
/*   min-height: 70vh; */
/* } */

/* .content h1 { */
/*   font-size: 2em; */
/* } */

/* .content h2 { */
/*   font-size: 1.8em; */
/* } */

/* .content h3 { */
/*   font-size: 1.6em; */
/* } */

.title h1 {
  font-style: italic;
  font-weight: 400;
  font-family: "Space Mono", serif;
  font-size: 2.8em;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.4em;
  font-size: 1.2em;
}

h5 {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  font-size: 1.1em;
}

h6 {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  font-size: 1em;
}

.wrapped {
  border-left: 1px solid gray;
  border-radius: 2px;
  padding: 10px;
  padding-top:0px;
  margin: 10px;
}

.collapsible-title > svg:first-child {
    color: maroon;
    float: left;
    padding: 4px;
}

.wrapped > h2, .wrapped > h3, .wrapped > h4, .wrapped > h5, .wrapped > h6 {
  margin-top: 0em;
}
.lo-head > h2, .lo-head > h3, .lo-head > h4, .lo-head > h5, .lo-head > h6 {
  margin-top: 0.2em;
}

.edit-icon {
  position: absolute;
  bottom: -5px;
  right: 0;
  cursor: pointer ;
  opacity: 0.5;
}


footer {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.modifiable-markdown {
  border: 1px solid transparent;
  border-radius: 2px;
}

.modifiable-markdown:hover {
  border: 1px solid gray;
  border-radius: 2px;
}

pre.w-md-editor-text-pre > code,
.w-md-editor-text-input, .w-md-editor-text-input > textarea {
  font-size: 1.8rem !important;
  line-height: 1.618 !important;
  border: 0px !important;
}

.loading-arrows {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  padding: 5px;
}
.loading-arrows label, .loading-arrows button {
  margin: 5px;
  align-self: center;
}
.loading-arrows button {
  padding: 5px;
  padding-top: 7px;
  cursor: pointer;
}

.modified-notice {
  font-weight: 200;
  font-size: 0.8em;
  font-style: italic;
  color: maroon;
  border-bottom: 1px dashed maroon;
  padding-left: 4px;
  padding-bottom: -3px;
  margin-bottom:4px;
  line-height: 1.2em;
}

div.logo {

  overflow: hidden;
  align-items: center;
  justify-content: center;

}
img.logo {
  object-fit: contain;
  height: 80px;
  margin-bottom: 0;
  margin-right: 10px;
  float: left;
}

.home-button {
  padding: 10px;
  align-content: center;
  justify-content: center;
  display:flex;
}

.home-notice {
  font-size: 0.8em;
  font-style: italic;
  color: maroon;
  padding-left: 4px;
  padding-bottom: -3px;
  margin-bottom:4px;
  line-height: 1.2em;
}
button {
  margin-bottom: 5px;
}

/* .title .links { */
/*   display: flex; */
/*   flex-direction: row; */
/*   justify-content: space-around; */
/*   padding-left: 3vw; */
/* } */

/* .title .links a { */
/*   font-family: "Space Mono", serif; */
/*   border-bottom: solid 2px var(--color-blossom-dark); */
/*   padding-right: 4vw; */

/* } */
/* .title .links a:hover { */
/*   background-color: var(--color-bg-alt); */
/*   border-bottom: 2px solid var(--color-blossom-dark); */
/* } */

/* .content img { */
/*   display: inherit; */
/*   margin: 10px auto; */
/*   width: 80%; */
/* } */
/* .navbar { */
/*   padding-bottom: 30px; */
/* } */

/* .navbar a { */
/*   color: var(--color-text); */
/* } */

/* .title { */
/*   min-height: 0; */
/*   flex-grow: 0; */
/* } */

/* .content { */
/*   height: auto; */
/*   min-height: 0; */
/*   padding: 30px; */
/* } */

/* .content p { */
/*   line-height: 1.5; */
/*   font-size: 1.75rem; */
/* } */

/* . */

/* h1 { */
/*   font-size: 2rem; */
/* } */

/* /1* a { *1/ */
/* /1*   color: #8be9fd; *1/ */
/* /1*   text-decoration: none; *1/ */
/* /1* } *1/ */

/* .navbar a { */
/*   border: 0px; */
/*   border-style: solid; */
/*   border-bottom: 2px solid var(--color-text); */
/* } */
/* .navbar a:hover { */
/*   background-color: var(--color-bg-alt); */
/*   border-bottom: 2px solid var(--color-blossom-dark); */
/* } */

/* .navbar a.active { */
/*   background-color: var(--color-blossom-dark); */
/*   border-bottom: 2px solid var(--color-blossom-dark); */
/*   color: var(--color-blossom-light); */
/* } */


/* @media screen and (max-width: 768px) { */
/*   .container { */
/*     display: flex; */
/*     flex-direction: column; */
/*   } */
/* } */
/* .nav-links { */
/*   display: flex; */
/*   flex-direction: column; */
/*   gap: 0.5rem; */
/* } */
